/* Whole webpage */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color:white;
    border-bottom: 1px solid #eee;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/* Home Page */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #d8aaee, #f5c0d0);
}

.hero-img {
    width: 300px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-subtitle {
    font-size: 1.1rem;
    font-style: italic;
    color: #333;
}

/* Features */

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 60px 60px 60px;
    background: linear-gradient(135deg, #d8aaee, #f5c0d0);
}

.card {
    border-radius: 20px;
    padding: 30px;
    width: 350px;
}

.card-purple {
    background-color: #d9b8f5;
}

.card-orange {
    background-color: #f5c87a;
}

.card-green {
    background-color: #a8e6c1;
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.95rem;
    color:#333;
}



